{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clínica</title>
    <link rel="stylesheet" href="{% static 'chatclin_est.css' %}">
</head>

<body>
    <header class="header">
        <div class="logo">natal<span>care</span></div>
        <a href="{% url 'pesq' %}"><input type="text" placeholder="Clínica XYZ..." class="search-input"></a>
        <span id="prfl-login">
            <img src="{% static 'imagens_site/perfil.svg' %}" alt="user">
            {% if request.user.clinica %}
                <button class="login-button" id="usu" onclick="menuh()">{{request.user.clinica}}</button>
                <section id="menuh">
                    <ul>
                        <li><a href="{% url 'menu' %}">Menu</a></li>
                        <li><a href="{% url 'clined' %}">Perfil</a></li>
                        <!-- <li>Pesquisa</li> -->
                        <li><a href="{% url 'chatclin' %}">Agendamento</a></li>
                        <li><a href="{% url 'logoutu' %}">Sair</a></li>
                    </ul>
                </section>
            {% endif %}
        </span>
    </header>

    <main>
        <section id="conversas">
            <h1>Conversas</h1>

            {% for i in conv_iniciada %}
                <a href="{% url 'prochatclin' i.usuario.id %}">
                    <section id="clinicas">
                        <img src="{% static 'imagens_site/clingen.svg' %}" alt="">
                        <h2>{{i.usuario.nome}}</h2>
                    </section>
                </a>
            {% endfor %}

        </section>

        <section id="chat">
            {% if conversa %}
                <section id="nome-clin">
                    <h1>{{conversa.usuario.nome}}</h1>
                </section>

                <section id="area-chat">
                    {% for i in conversa.mensagens_set.all %}
                        {% if i.remetente.username == request.user.clinica.nome %}
                            <section id="clinmen">{{i.mensagem}}</section>
                        {% else %}
                            <section id="usumen">{{i.mensagem}}</section>
                        {% endif %}
                    {% endfor %}
                </section>

                <form id="digitex" action="{% url 'prochatclin' conversa.usuario.id %}" method="POST">
                    {% csrf_token %}
                    <input type="text" name="mens" id="">
                    <input type="submit" name="" id="">
                </form>
            {% endif %}
        </section>
    </main>


    <script>
        var inputs = document.querySelectorAll('input')
        var select = document.getElementById('estado')
        var edit = document.getElementById("edit")
        var btn = document.getElementById("btns")
        var menu = document.getElementById('menuh')
        var usu = document.getElementById('usu')

        function editar(){
            inputs.forEach(input => {
            input.disabled = false;
            input.style.border = "1px solid black";
            select.disabled = false;
            select.style.border = "1px solid black";
        })}

        function menuh(){
            menu.style.display = 'flex';
        }
    </script>
</body>
</html>